<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head %>
  </head>

  <body>
    <header>
      <%- include ./partials/menubar %>
    </header>

    <h1><%= h1 %></h1>
    <!-- <a class="btn btn-primary" href="/teachers/add" role="button">Add Teacher</a> -->
    <table class="table table-condensed">
      <tr>
        <th>No</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Unique ID</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Actions</th>
      </tr>
      <% var id = 1 %>
      <% data_teachers.forEach(teacher => { %>
        <tr>
          <td><%= id++ %></td>
          <td><%= teacher.first_name %></td>
          <td><%= teacher.last_name %></td>
          <td><%= teacher.id %></td>
          <td><%= teacher.email %></td>
            <% if (teacher.SubjectId == undefined) { %>
              <td>Unassigned</td>
            <% } else { %>
              <td><%= teacher.Subject.subject_name %></td>
            <% } %>
          <td><a href="/teachers/edit/<%= teacher.id %>_<%= teacher.Subject.id %>">Edit</a> <a href="/teachers/delete/<%= teacher.id %>" onclick="return confirm('Are you sure want to delete this data?')">Delete</a></td>
        </tr>
      <% }); %>
    </table>
    <br>
  </body>

</html>
